include = [
    "../../oracles/pyth-mon.toml",
    "../../markets/common/bigcap-settings.toml",
]

[setting.perpsMonMarketId]

[setting.perpsMonSkewScale]

[setting.perpsMonMaxFundingVelocity]

[setting.perpsMonMakerFeeRatio]

[setting.perpsMonTakerFeeRatio]

[setting.perpsMonMaxMarketSize]

[setting.perpsMonInitialMarginRatio]

[setting.perpsMonMaintenanceMarginScalar]

[setting.perpsMonMinimumInitialMarginRatio]

[setting.perpsMonFlagRewardRatioD18]

[setting.perpsMonMaxLiquidationLimitAccumulationMultiplier]

[setting.perpsMonMaxSecondsInLiquidationWindow]

[setting.perpsMonMinimumPositionMargin]

[setting.perpsMonLockedOiRatio]

[setting.perpsMonSynthMaxCollateralAmount]

[setting.perpsMonMaxLiquidationPd]

[setting.perpsMonEndorsedLiquidator]

[invoke.createperpsMonMarket]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "createMarket"
args = [
    "<%= settings.perpsMonMarketId %>",
    "Monad",
    "MON",
]
depends = [
    "provision.system",
    "provision.perpsFactory",
]

[invoke.createperpsMonMarket.fromCall]
func = "owner"

[invoke.setperpsMonPrice]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "updatePriceData"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= extras.perpsMon_oracle_id %>",
    "<%= settings.bigCapStrictStalenessTolerance %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonPrice.fromCall]
func = "owner"

[invoke.addperpsMonSettlementStrategy]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "addSettlementStrategy"
args = [
    "<%= settings.perpsMonMarketId %>",
    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.addperpsMonSettlementStrategy.fromCall]
func = "owner"

[invoke.addperpsMonSettlementStrategy.extra.perpsMon_pyth_settlement_strategy]
event = "SettlementStrategyAdded"
arg = 2

[invoke.setperpsMonSettlementStrategy]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setSettlementStrategy"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= extras.perpsMon_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.bigCapSettlementDelay %>", settlementWindowDuration = "<%= settings.bigCapSettlementWindowDuration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.perpsMonFeedId %>", settlementReward = "<%= parseEther(settings.settlementReward) %>", disabled = false, commitmentPriceDelay = "2" },
]
depends = [
    "provision.perpsFactory",
    "setting.perpsMonMarketId",
    "invoke.addperpsMonSettlementStrategy",
    "provision.pyth_erc7412_wrapper",
    "setting.bigCapSettlementDelay",
    "setting.bigCapSettlementWindowDuration",
    "setting.perpsMonFeedId",
    "setting.settlementReward",
]

[invoke.setperpsMonSettlementStrategy.fromCall]
func = "owner"

[invoke.setperpsMonFundingParameters]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setFundingParameters"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonSkewScale) %>",
    "<%= parseEther(settings.perpsMonMaxFundingVelocity) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonFundingParameters.fromCall]
func = "owner"

[invoke.setperpsMonOrderFees]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setOrderFees"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonMakerFeeRatio) %>",
    "<%= parseEther(settings.perpsMonTakerFeeRatio) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonOrderFees.fromCall]
func = "owner"

[invoke.setperpsMonMaxMarketSize]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setMaxMarketSize"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonMaxMarketSize) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonMaxMarketSize.fromCall]
func = "owner"

[invoke.setperpsMonMaxMarketValue]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setMaxMarketValue"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonMaxMarketValue) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonMaxMarketValue.fromCall]
func = "owner"

[invoke.setperpsMonMaxLiquidationParameters]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonMaxLiquidationLimitAccumulationMultiplier) %>",
    "<%= settings.perpsMonMaxSecondsInLiquidationWindow %>",
    "<%= parseEther(settings.perpsMonMaxLiquidationPd) %>",
    "<%= settings.perpsMonEndorsedLiquidator %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonMaxLiquidationParameters.fromCall]
func = "owner"

[invoke.setperpsMonLiquidationParameters]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setLiquidationParameters"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonInitialMarginRatio) %>",
    "<%= parseEther(settings.perpsMonMinimumInitialMarginRatio) %>",
    "<%= parseEther(settings.perpsMonMaintenanceMarginScalar) %>",
    "<%= parseEther(settings.perpsMonFlagRewardRatioD18) %>",
    "<%= parseEther(settings.perpsMonMinimumPositionMargin) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonLiquidationParameters.fromCall]
func = "owner"

[invoke.setperpsMonLockedOiRatio]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setLockedOiRatio"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonLockedOiRatio) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonLockedOiRatio.fromCall]
func = "owner"

[invoke.setperpsMonLimitOrderFees]
target = [
    "perpsFactory.PerpsMarketProxy",
]
func = "setLimitOrderFees"
args = [
    "<%= settings.perpsMonMarketId %>",
    "<%= parseEther(settings.perpsMonLimitOrderMakerFeeRatio) %>",
    "<%= parseEther(settings.perpsMonLimitOrderTakerFeeRatio) %>",
]
depends = [
    "invoke.createperpsMonMarket",
]

[invoke.setperpsMonLimitOrderFees.fromCall]
func = "owner"
