[setting.endorsedPerpsConfigUpdater]
defaultValue = "0x55F2701a08C23b493cc2BFb21382d81d454cd689"

[invoke.allowAllPerpsSystem]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = ["<%= formatBytes32String('perpsSystem') %>", true]
depends = ["provision.perpsFactory"]

[invoke.allowAllLimitOrder]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = ["<%= formatBytes32String('limitOrder') %>", true]

[invoke.allowPerpsConfig]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addToFeatureFlagAllowlist"
args = ["<%= formatBytes32String('perpsConfiguration') %>", "<%= settings.endorsedPerpsConfigUpdater %>"]
depends = ["provision.perpsFactory", "setting.endorsedPerpsConfigUpdater"]
